* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    background-color: none;
    padding: 1rem;
}

#contenedorPrincipal {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(215, 215, 215);
}

#contenedorHeader {
    padding: 1rem;
    background-color: #496DE9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#contenedorHeader h1 {
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}

#contenedorHeader button {
    padding: 0.4rem 0.4rem;
    border: unset;
    color: white;
    background: #2B4491;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#contenedorHeader button:hover {
    background: #20346e;
}

#contenedorHeader button svg {
    margin-left: 0.2rem;
}

#nuevaTarea {
    margin: 0.8rem;
}

#nuevaTarea {
    position: relative;
}

#nuevaTarea input {
    border: none;
    border-bottom: 2px solid rgb(158, 158, 158);
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 1rem;
}

#nuevaTarea input:focus {
    outline: none;
    border-bottom: 2px solid rgb(113, 113, 113);
}

#nuevaTarea input::placeholder {
    color: rgb(158, 158, 158);
}

#nuevaTarea button {
    position: absolute;
    right: 0;
    top: 25%;
    border: none;
    background: none;
    color: #91BF51;
}

#contenedorTareas .tarea {
    margin: 0.8rem;
}

