* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    background-color: none;
    padding: 1rem;
}

#contenedorPrincipal {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(215, 215, 215);
}

#contenedorHeader {
    padding: 1rem;
    background-color: #496DE9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#contenedorHeader h1 {
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}

#contenedorHeader button {
    padding: 0.4rem 0.4rem;
    border: unset;
    color: white;
    background: #2B4491;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#contenedorHeader button:hover {
    background: #20346e;
}

#contenedorHeader button svg {
    margin-left: 0.2rem;
}

.contenedorFormularioTareas {
    padding: 0.8rem;
    box-shadow: 1px 0px 5px rgb(215, 215, 215);;
}

#nuevaTarea {
    position: relative;
}

#nuevaTarea input {
    border: none;
    border-bottom: 2px solid rgb(158, 158, 158);
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 1rem;
}

#nuevaTarea input:focus {
    outline: none;
    border-bottom: 2px solid rgb(113, 113, 113);
}

#nuevaTarea input::placeholder {
    color: rgb(158, 158, 158);
}

#nuevaTarea button {
    position: absolute;
    right: 0;
    top: 25%;
    border: none;
    background: none;
    color: #91BF51;
    font-size: 1rem;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#nuevaTarea button:hover {
    color:#6f923e;
}

#contenedorTareas .contenedorFormularioTareas {
    padding: 0;
    box-shadow: none;
}

#contenedorTareas .tarea, #contenedorTareas .tareaEditable {
    padding: 0.8rem;
    display: flex;
    align-items: center;
}

#contenedorTareas .tarea, #contenedorTareas .tareaEditable {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#contenedorTareas .tarea:hover {
    background-color: rgb(239, 239, 239);
}

#contenedorTareas .tarea .btnCheck, #contenedorTareas .tareaEditable .btnCheck {
    margin-right: 0.8rem;
    font-size: 1.4rem;
    color: rgb(92, 92, 92);
    transition: all 0.5s ease;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#contenedorTareas .tarea .btnCheck:hover, #contenedorTareas .tareaEditable .btnCheck:hover {
    color: rgb(57, 57, 57);
}

#contenedorTareas .tarea p {
    width: 100%;
    margin-right: 0.8rem;
    color: rgb(92, 92, 92);
}

#contenedorTareas .tareaEditable .contenedorFormularioTareas {
    width: 100%;
}

#contenedorTareas .tareaEditable input {
    width: 100%;
    margin-right: 0.8rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(158, 158, 158);
    background-color: unset;
}

#contenedorTareas .tareaEditable input:focus {
    border-bottom: 2px solid rgb(113, 113, 113);
}

#contenedorTareas .tareaEditable .btnActualizar {
    margin-right: 0.8rem;
}

#contenedorTareas .tareaEditable {
    display: flex;
    align-items: center;
}

.tareaForm {
    display: flex;
    align-items: center;
    
}

.tareaForm .btnIconoEditar {
    margin-right: 0.8rem;
    font-size: 1rem;
    display: flex;
}

.tareaForm .btnIconoEliminar {
    font-size: 1rem;
    display: flex;
}

.botones {
    border: unset;
    background-color: unset;
    color: rgb(151, 151, 151);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.botones.btnActualizar {
    color: white;
    background-color:#91BF51;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.botones.btnActualizar:hover {
    background-color:#6f923e;
}

.botones.btnIconoEditar:hover {
    color: #91BF51;
}

.botones.btnIconoEliminar:hover {
    color: red;
}

